
.why-us{
    display: flex;
    justify-content: space-evenly;
}

.why-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 20px;
    width: 50%;
}

.why-text p{
    text-align: left;
}

